$navHeight: 55px;

.header {
  width: 100%;
  height: $navHeight;
  padding: 10px 0 10px 0;
  background: rgba(32, 32, 32, 0.7);
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.5);
}
.navUl {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0;
  padding: 0;
  color: rgb(236, 236, 236);
}

.listItem {
  height: 100%;
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    margin: 0 auto 0 10px;
  }

  img {
    height: 60px;
    width: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    text-align: center;
    line-height: $navHeight;
    padding: 10px;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer;
      color: #fff;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
    }
  }
}

.active {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  margin: 0 auto;
}
