.table {
  color: #000;
  text-align: left;
  font-size: 1.2em;
  width: 60%;
  tr {
    background-color: rgba(0, 0, 0, 0.1);

    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.15);
    }

    &:hover {
      td {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  th {
    padding: 15px;
  }

  td {
    padding: 15px;
    min-width: 10%;
  }
}
