.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.button {
  box-sizing: border-box;

  padding: 20px;
  width: 100%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
  font-weight: 600;
  font-size: 1.3em;
  font-family: inherit;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.select {
  width: 100%;
  display: block;
  margin-top: 10px;
  background: none;
  color: #000;
  font-family: inherit;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;

  background-size: auto 50%;
}

option {
  background: none;
  color: #000;
}

.buttonWrapper {
  margin: 2px 20px 20px 20px;
  width: 17%;
}
