body {
  margin: 0;
  font-family: 'Montserrat', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  max-width: 100%;
  background-repeat: repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
}
